<div class="container">
  <div class="text-center">
    <img
      class="fade-in mb-4"
      src="assets/LogoNegroFondoTransparente.png"
      alt="login"
      style="max-width: 100%"
    />
  </div>

  <!-- <div class="heading">Inicio de sesión</div> -->

  <form action="" class="form">
    <form class="form-signin" #fLogin="ngForm" (submit)="login()">
      <div class="form-group">
        <label for="email" class="sr-only">Usuario</label>
        <input
          id="email"
          type="email"
          class="form-control"
          placeholder="E-mail"
          [(ngModel)]="infoLogin.email"
          name="email"
          #email="ngModel"
          required
        />
        @if(!email.valid && email.touched){
        <span class="form-text text-danger"> Email obligatorio </span>}
      </div>

      <app-password-input />

      <!-- [hidden]="fLogin.valid" -->
      <button
        class="btn123"
        type="submit"
        [disabled]="!fLogin.valid"
        style="cursor: pointer"
      >
        <!-- style="cursor: not-allowed"  --  Estaba en la linea 57 -->
        <strong>Continuar</strong>
      </button>
    </form>
    <span class="forgot-password"
      ><a href="#">¿Te olvidaste de tu contraseña?</a></span
    >
    <div>
      <span id="span23">¿Aún no tienes cuenta? </span>
      <a routerLink="/register">Registrate</a>
    </div>

    <div class="social-account-container">
      <span class="title">O inicia sesión con</span>
      <div class="social-accounts">
        <app-google-signin (idToken)="login"/>
        <app-facebook-signin />
      </div>
    </div>
    <span class="agreement"><a href="#">Learn user licence agreement</a></span>
  </form>
</div>
