.layout {
    display: grid;

    grid-template-areas: 
    'header header header header header header header header header header header header'
    '. main main main main main main main main main main .'
    'footer footer footer footer footer footer footer footer footer footer footer footer';

    gap: 1rem;

    background-image: url("/src/assets/FondoFinal.jpg");
    background-position: center;
    background-size: cover;
    background-clip: border-box;
    background-color: lightslategray;
}
 
.header {
    grid-area: header;
}

.content {
    grid-area: main;
    justify-items: center;
    align-items: center;

    border-radius: 1rem;
    background-color: rgba(40, 40, 40, 0.2);
    backdrop-filter: blur(0.2rem);
}

.footer {
    grid-area: footer;

    background-color: rgba(40, 40, 40, 0.2);
    backdrop-filter: blur(0.2rem);
}

/* @media (orientation: landscape) {
    
}
@media (orientation: portrait) {
    
} */