<div class="form-group input-container">
    <label for="password" class="sr-only">Password</label>
    <input
      id="password"
      [type]="showPassword ? 'text' : 'password'"
      class="form-control password-input"
      placeholder="Contraseña"
      name="password"
      #pass="ngModel"
      [(ngModel)]="password"
      required
    />
    <app-lock-checkbox
      class="toggle-password"
      (lockCheckboxChange)="showHidePassword($event)"
    />
  </div>
  @if(!pass.valid && pass.touched){
  <div class="form-text text-danger">Contraseña obligatoria</div>
  }