/* MOSTRAR CONTRASEÑA */
.input-container {
  position: relative;
}

/* espacio para el componente app-lock-checkbox */
.password-input {
  padding-right: 40px;
}

.toggle-password {
  position: absolute;
  right: 20px;
  top: 50%;
  scale: 0.45;
}
